@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

body{
    font-family: 'Poppins';
    background-color: #f8f8f8;
}

.titleContainer {
    margin-top: 123px;
    margin-left: auto;
    margin-right: auto;
}

.titleContainer h1 {
    text-align: center;
    font-size: 24px;
    font-family: "Poppins";
}

.linePurpleContainer {
    width: 105px;
    height: 2px;
    background-color: #E559F9;
    margin-top: 81px;
    margin-left: auto;
    margin-right: auto;
}

.goingToDoContainer {
    text-align: center;
    margin-top: 81px;
    margin-right: auto;
    margin-left: auto;
}

.goingToDoContainer h1 {
    font-size: 24px;
    font-weight: 700;
    font-family: "Poppins";
}

.inputsContainer {
    margin: 20px auto 0px auto;
    width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.inputsContainer input {
    width: 304px;
    height: 50px;
    padding-left: 16px;
    color: #A8A8B3;
    border: 1px solid #A8A8B3;
    border-radius: 8px;
}

.addButton {
    width: 100%;
    height: 50px;
    background-color: #835AFD;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}

.addButton:hover {
    color: #835AFD;
    background-color: #fff;
    border: 1px solid #835AFD;
    transition: 1s;
}


.tasksContainer {
    margin: 160px auto;
    width: 30%;
}

.tasksContainer li {
    color: #835AFD;
    list-style: none;
}